{
    "enviroment" : "dev",
    "jwt": {
        "secret": "super-secret",
        "expiration": "10"
    },
    "db": {
        "url": "182.168.0.1",
        "port": "27017",
        "database": "UserHub",
        "user": "user",
        "password": "somepassword",
        "authSource" : ""
    },
    "server": {
        "port": "5623"
    },
    "fastemail" : {
        "url" : "asdfas"
    },
    "mustChangeFirstTimePassword" : true,
    "superAdmin" : {
        "username" : "admin",
        "password" : "admin"
    }
}